# Практическое задание № 2

## Задание:

* Шаг 1. Загрузить данные с файла расширения csv (adult.data.csv)
    - Изучить содержание признаков
    - Определить количествро строк, колонок
    
* Шаг 2. Провести очистку данных
    - Выполнить проверку на пустые значения
    - Определить типы данных 
    - Поиск дубликатов
    - Поиск аномалий   
* Шаг 3. С помощью библиотеки Pandas ответить на несколько вопросов по данным набора Adult по доходу населения, каждый объект которого содержит социальные характеристики некоторого человека (возраст, пол, профессиональная деятельность и т.п.): 
    - **1. Сколько неженатых граждан** (признак *relationship* = Unmarried) **представлено в этом наборе данных?**
    - **2. Каков средний возраст** (признак *age* ) **женщин** (признак *sex* = Female)), **которые зарабатывают много?** ( признак *salary* = >50K)
    - **3. Какое наибольшее количество часов человек работает в неделю?** (признак *hours-per-week*)
    - **4. Сколько граждан  много зарабатывают** (признак *salary* = >50K), **которые закончили 9 классов**?  (признак *education* = 9th)
    - **5. Посчитайте среднее время работы** (признак *hours-per-week*) **зарабатывающих мало и много** (признак *salary*). Используйте метод pivot_table
* Шаг 4. Выполните запись результатов в файл с разделителями.
* Шаг 5. Опубликуйте файл расширения ipynb на платформу Odin.

# Уникальные значения признаков набора данных по доходу населения:

______________

Признак         | Описание | Значения
----------------|----------| -------------
age             | возраст | количественный 
workclass       | вид работы | <code>Private</code>, <code>Self-emp-not-inc</code>, <code>Self-emp-inc</code>, <code>Federal-gov</code>, <code>Local-gov</code>, <code>State-gov</code>, <code>Without-pay</code>, <code>Never-worked</code>
fnlwgt          | вес кейса | количественный
education       | уровень образования | <code>Bachelors</code>, <code>Some-college</code>, <code>11th</code>, <code>HS-grad</code>, <code>Prof-school</code>, <code>Assoc-acdm</code>, <code>Assoc-voc</code>, <code>9th</code>, <code>7th-8th</code>, <code>12th</code>, <code>Masters</code>, <code>1st-4th</code>, <code>10th</code>, <code>Doctorate</code>, <code>5th-6th</code>, <code>Preschool</code>
education-num   | код уровня образования | количественный
marital-status  | статус гражданина | <code>Married-civ-spouse</code>, <code>Divorced</code>, <code>Never-married</code>, <code>Separated</code>, <code>Widowed</code>, <code>Married-spouse-absent</code>, <code>Married-AF-spouse</code>
occupation      | род занятий | <code>Tech-support</code>, <code>Craft-repair</code>, <code>Other-service</code>, <code>Sales</code>, <code>Exec-managerial</code>, <code>Prof-specialty</code>, <code>Handlers-cleaners</code>, <code>Machine-op-inspct</code>, <code>Adm-clerical</code>, <code>Farming-fishing</code>, <code>Transport-moving</code>, <code>Priv-house-serv</code>, <code>Protective-serv</code>, <code>Armed-Forces</code>
relationship    | Состав семьи |  <code>Wife</code>, <code>Own-child</code>, <code>Husband</code>, <code>Not-in-family</code>, <code>Other-relative</code>, <code>Unmarried</code>
race            | расса |  <code>White</code>, <code>Asian-Pac-Islander</code>, <code>Amer-Indian-Eskimo</code>, <code>Other</code>, <code>Black</code>
sex             | пол |  <code>Female</code>, <code>Male</code>
capital-gain    | исключим из анализа |  количественный
capital-loss    | исключим из анализа |  количественный
hours-per-week  | количество часов в неделю |  количественный
native-country  | страна |  <code>United-States</code>, <code>Cambodia</code>, <code>England</code>, <code>Puerto-Rico</code>, <code>Canada</code>, <code>Germany</code>, <code>Outlying-US(Guam-USVI-etc)</code>, <code>India</code>, <code>Japan</code>, <code>Greece</code>, <code>South</code>, <code>China</code>, <code>Cuba</code>, <code>Iran</code>, <code>Honduras</code>, <code>Philippines</code>, <code>Italy</code>, <code>Poland</code>, <code>Jamaica</code>, <code>Vietnam</code>, <code>Mexico</code>, <code>Portugal</code>, <code>Ireland</code>, <code>France</code>, <code>Dominican-Republic</code>, <code>Laos</code>, <code>Ecuador</code>, <code>Taiwan</code>, <code>Haiti</code>, <code>Columbia</code>, <code>Hungary</code>, <code>Guatemala</code>, <code>Nicaragua</code>, <code>Scotland</code>, <code>Thailand</code>, <code>Yugoslavia</code>, <code>El-Salvador</code>, <code>Trinadad&amp;Tobago</code>, <code>Peru</code>, <code>Hong</code>, <code>Holand-Netherlands</code>
salary          | уровень дохода |  <code>&gt;50K</code>, <code>&lt;=50K</code>

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 1)

print (np.__version__)
print (pd.__version__)

1.23.3
1.4.4

In [2]:
CAT_OS = 'https://github.com/OlesiaAngel/DataAnalitics/blob/main/%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5/'
df = pd.read_csv(CAT_OS+'adult.data.csv?raw=True')

* Шаг 1. Загрузить данные с файла расширения csv (adult.data.csv)
    - Изучить содержание признаков

In [3]:
df.index # изучаю порядок индексации файла (Шаг 1.1)

RangeIndex(start=0, stop=32561, step=1)

In [4]:
df.head() # изучил первые 5 строк (Шаг 1.1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.columns # изучаю имена серий (Шаг 1.1)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [6]:
df.describe() # изучаю серии с числовыми значениями (Шаг 1.1)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.0,3.3e+04,32561.0,32561.0,32561.0,32561.0
mean,38.6,1.9e+05,10.1,1077.6,87.3,40.4
std,13.6,1.1e+05,2.6,7385.3,403.0,12.3
min,17.0,1.2e+04,1.0,0.0,0.0,1.0
25%,28.0,1.2e+05,9.0,0.0,0.0,40.0
50%,37.0,1.8e+05,10.0,0.0,0.0,40.0
75%,48.0,2.4e+05,12.0,0.0,0.0,45.0
max,90.0,1.5e+06,16.0,99999.0,4356.0,99.0

In [7]:
df.select_dtypes(include=['float64', 'int64'])  # узнать все числовые серии данных фрейма (Шаг 1.1)

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

 **- Определить количество строк, колонок**

In [8]:
df.shape[0] # определяю общее кол-во строк в файле (Шаг 1.2 из задания)

32561

In [9]:
df.shape[1] # определяю общее кол-во колонок в файле (Шаг 1.2 из задания)

15

**Шаг 2. Провести очистку данных**
    -**Выполнить проверку на пустые значения**

In [10]:
df.isnull().sum() # Проверка на пустые значения (Шаг 2.1)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [11]:
df.isnull().sum() / df.shape[0] * 100   # Процент пропущенных значений (Шаг 2.1)

age               0.0
workclass         0.0
fnlwgt            0.0
education         0.0
education-num     0.0
marital-status    0.0
occupation        0.0
relationship      0.0
race              0.0
sex               0.0
capital-gain      0.0
capital-loss      0.0
hours-per-week    0.0
native-country    0.0
salary            0.0
dtype: float64

**- Определить типы данных**

In [12]:
df.info() # общее инфо # (Шаг 2.2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [13]:
df.dtypes # узнать типы данных по сериям (Шаг 2.2)

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

 **- Поиск дубликатов**

In [14]:
df.duplicated().sum() # Поиск дубликатов (Шаг 2.3) - 24 строки индентичны

24

In [15]:
df = df.drop_duplicates() # удаление дублей (Шаг 2.3) 
df.shape      #  проверка очистки фрейма от дублей (Шаг 2.3)

(32537, 15)

 **- Поиск аномалий**

In [16]:
df.nunique()  # сравнил количества по каждой серии с исходными данными + выявил кол-во уникальных значений (Шаг 2.4)

age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
salary                2
dtype: int64

In [17]:
df['workclass'].unique()   # Найдена следующая аномалия в данной серии - "?" (Шаг 2.4)

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [18]:
df['occupation'].unique()  # Найдена следующая аномалия в данной серии - "?" (Шаг 2.4)

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [19]:
df['native-country'].unique()  # Найдена следующая аномалия в данной серии - "?" (Шаг 2.4)

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [20]:
df = df.replace({'?': np.nan}) # заменил все значения '?' на 'NaN'

* Шаг 3. С помощью библиотеки Pandas ответить на несколько вопросов по данным набора Adult по доходу населения, каждый объект которого содержит социальные характеристики некоторого человека (возраст, пол, профессиональная деятельность и т.п.):
    - **1. Сколько неженатых граждан** (признак *relationship* = Unmarried) **представлено в этом наборе данных?**

In [21]:
df['relationship'].value_counts()['Unmarried']  # определяю количество неженатых граждан (Шаг 3.1)

3445

 - **2. Каков средний возраст** (признак *age* ) **женщин** (признак *sex* = Female)), **которые зарабатывают много?** ( признак *salary* = >50K)

In [22]:
reach_woman = df[(df['sex'] == 'Female') & (df['salary'] == '>50K')]  # Вычислил средний возраст богатых женщин (Шаг 3.2)
reach_woman.age.mean()

42.125530110262936

- **3. Какое наибольшее количество часов человек работает в неделю?** (признак *hours-per-week*)

In [23]:
df_max_work_hours = df['hours-per-week'].max() # получилось 14 часов в день, тоже аномалия (Шаг 3.3)
df_max_work_hours

99

- **4. Сколько граждан  много зарабатывают** (признак *salary* = >50K), **которые закончили 9 классов**?  (признак *education* = 9th)

In [24]:
rich_with_secondary_education = df[(df['education'] == '9th') & (df['salary'] == '>50K')] # (Шаг 3.4)
rich_with_secondary_education.shape[0]

27

- **5. Посчитайте среднее время работы** (признак *hours-per-week*) **зарабатывающих мало и много** (признак *salary*). Используйте метод pivot_table

In [25]:
people_with_low_salary = df[df['salary'] == '<=50K']['hours-per-week'].mean() # Среднее время работы, зарабатывающих мало (Шаг 3.5)
people_with_low_salary

38.84286177018382

In [26]:
people_with_high_salary = df[df['salary'] == '>50K']['hours-per-week'].mean()  # Среднее время работы, зарабатывающих много (Шаг 3.5)
people_with_high_salary

45.473402219670874

In [27]:
average_timework = df.pivot_table(             # Среднее время работы, зарабатывающих много и мало(Шаг 3.5)
    ['hours-per-week'],
    ['salary'],
    aggfunc='mean')
average_timework.reset_index()

  salary  hours-per-week
0  <=50K            38.8
1   >50K            45.5

* Шаг 4. Выполните запись результатов в файл с разделителями.

In [28]:
df.to_csv('practice#2.csv', sep='|')   # Запись данных в файл с разделителями (Шаг 4)